* {
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #590b4c;
}

.p-bg-lighter {
  background-color: #b749a5;
}

.p-bg-light {
  background-color: #99057b;
}

.p-bg-darker {
  background-color: #590441;
}

.paginator-pp {
  .btn-light {
    color: #590441;
  }

}

.image_box {
  gap: 2rem;
}

img.jumbo-img {
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 99;
  width: 50%;
  max-width: 690px;
  margin-bottom: 8.2vh;

}

.jumbotron {
  min-height: 640px;
  height: 80vh;
  width: 80%;
  max-width: 1125px;

  .jumbo-title {
    font-size: 800%;
    font-weight: 900;

  }
}
