* {
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #590b4c;
}

.p-bg-lighter {
  background-color: #b749a5;
}

.p-bg-light {
  background-color: #99057b;
}

.p-bg-darker {
  background-color: #590441;
}

.paginator {
  .page-link {
    color: #4a225e;
  }

  .active>.page-link {
    background-color: #8940AD;
    border-color: #4a225e;
    color: #fff;
  }
}

.image_box {
  gap: 2rem;
}

img.jumbo-img {
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 99;
  width: 50%;
  margin-bottom: 9.8vh;

}

.jumbotron {
  min-height: 640px;
  width: 80%;
  height: 80vh;

  h1 {
    font-size: 700%;
  }
}
