* {
  font-family: "Titillium Web", sans-serif;
}

:root {
  --bg-dark: rgb(28, 3, 57);
  --bg-medium: rgba(62, 9, 121, 1);
  --bg-light: rgba(109, 61, 163, 1)
}

body {
  background: rgb(41, 7, 79);
  background: linear-gradient(110deg, var(--bg-dark) 7%, var(--bg-medium) 34%, var(--bg-light) 75%);
  height: 100vh;
  background-repeat:no-repeat;
  

}

